html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --acent-text-color: #2196f3;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --white-text-color: #ffffff;
  --grey-back-color: #f5f4fa;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.page-header {
  box-sizing: inherit;
}

.flexbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Container and Section */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid tomato;
}

/* Hero*/
.hero {
  padding-top: 200px;
  padding-bottom: 280px;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  background-color: #2f303a;
}

.title {
  color: #ffffff;
  font-weight: 700px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  /* margin-bottom: 0px;
  margin-top: 0px; */
}
.effective {
  margin: 0px 0px 30px 0px;
  text-align: center;
}
/* Button */
.button {
  border-radius: 4px;
  padding: 15px 30px;
  min-width: 200px;
  border: 0px;
  background-color: var(--acent-text-color);
  color: var(--white-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
}

/* Main Navigation*/
.logo-web {
  color: var(--acent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.site-nav {
  display: flex;
  margin: none;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Menu item */
.menu-item-studio {
  margin-right: 85px;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.adress-top {
  font-style: normal;
}
.menu-item-contacts:not(:last-child) {
  margin-right: 30px;
  align-items: center;
}

/* Navigation */
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.contacts {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus,
.contacts:hover,
.contacts:focus,
.button:active,
.button-portfolio:active {
  color: var(--acent-text-color);
}

/* Work principles*/

.principles-title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.principles-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.principles {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  padding-top: 94px;
}
.principles:not(:last-child) {
  margin-right: 0px;
  margin-right: 30px;
  align-items: center;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}
.working:last-child {
  margin-right: 0px;
}
.workingimg {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
.working {
  margin-right: 30px;
  width: 270px;
  background-color: yellowgreen;
}

/* What do we do section*/

.we-doing {
  margin: 0px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.What-are-we-doing {
  display: flex;
  padding-bottom: 94px;
}
.What-are-we-doing .item {
  width: 370px;
  margin-right: 30px;
}
.work-list .item:last-child {
  margin-right: 0px;
}
.work-list-title {
  color: var(--white-text-color);
  background-color: #2f303a;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Our team section*/
.ourteam {
  background-color: var(--grey-back-color);
}
.section-team {
  margin-top: 0px;
  padding-top: 94px;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.staff .member {
  display: block;
  margin-bottom: 30px;
}
.team {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}
.team .staff {
  margin-right: 30px;
  background-color: var(--white-text-color);
}
.team .staff:last-child {
  margin-right: 0px;
}
.team-member-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.social {
  display: flex;
  justify-content: space-evenly;
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.84;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Adress section Foter */
.last {
  background: var(--footer-background-color);
}
.footer-adress {
  color: var(--white-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.foter {
  color: var(--white-text-color);
}

.footer {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-right: auto;
}
.foot {
  display: flex;
  align-items: center;
}
/* .foot-log {
  margin-right: 70px;
} */
.footweb {
  padding-bottom: 20px;
  margin-right: 70px;
}
.footweb:last-child {
  padding-bottom: 0px;
}
.join {
  padding-bottom: 20px;
}
.foot-join {
  margin-right: 94px;
}
.foot .staf {
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.foot .staf:last-child {
  margin-right: 0px;
}

.email,
.phone {
  color: var(--contacts-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.web-white {
  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.slogan {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*PORTFOLIO PAGE CSS*/

.button-portfolio {
  background-color: var(--grey-back-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-portfolio:focus,
.button-portfolio:hover {
  background-color: var(--acent-text-color);
  color: var(--white-text-color);
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-group {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-description {
  color: var(--white-text-color);
  background-color: #2196f3;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
